.fa-pencil, .fa-trash {
    font-size: 14px;
    cursor: pointer;
    margin: 0 8px;
}

a {
    cursor: pointer;
}

.table-noborders {
    table-layout: fixed !important;
}

.table-noborders td {
    border: none !important;
}